@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}


#bottone {
    font-family: "Open Sans", sans-serif;
}

#jumbo1, #jumbo2{
    font-family: "Playfair Display", serif;
}

